#container{
    display: grid;
    height: 200px;
    width: 200px;
    position: relative;
    border: solid red 1px;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

.boxes{
    background-color:white;
    border: solid black 1px;
    height: 1fr;
    width: 1fr;
}

#clear{
    position:relative;
    bottom:-10px;
}
