#container{
    display: grid;
    height: 200px;
    width: 200px;
    position: fixed;
    border: solid black 1px;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

.boxes{
    background-color:white;
    border-style: solid;
    border-color: black;
    height: 100%;
    width: 50%;
}
